@media (min-width: 1024px) {
  body {
    background: var(--green);
    color: var(--white);
  }
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background: var(--black);
}

.navbar a {
  text-decoration: none;
  color: white;
}

.navbar li {
  list-style: none;
}