@media (min-width: 1024px) {
  body {
    background: var(--green);
    color: var(--white);
    padding: 0px;
  }
}

.head {
  margin: 0;
}

body {
  padding: 0px;
  margin: 0px;
}

.navbar {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  background: var(--black);
}

.navbar ul {
  display: flex;
}

.navbar a {
  text-decoration: none;
  color: white;
}

.navbar li {
  list-style: none;
  margin: 0;
  padding: 15px;
}

@media (min-width: 414px) {

}

@media (min-width: 415px) and (max-width: 768px) {

}

@media (min-width: 769px) {

}